# ipython
.ipynb_checkpoints/

# pycache
code/__pycache__

# packaging
build/
dist/
*.egg-info/

# sublime workspace
connectome-spatial-smoothing.sublime-workspace

# test notebooks
code/Connectome_Spatial_Smoothing/__pycache__/
notebooks/temp.ipynb

# ignore the pypi toke
token.tmp
